#user information
[user]
	name = John Murray
	email = me@johnmurray.io

#color highlighting
[color]
	ui = auto
	interactive = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
	whitespace = red reverse

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

#command aliases
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
  su = submodule update
  pu = !sh git rev-parse --abbrev-ref HEAD | xargs git push origin
  puf = !sh git rev-parse --abbrev-ref HEAD | xargs git push -f origin
  alias = "config --get-regexp 'alias.*'"
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  tag-commit = !sh -c 'git rev-list $0 | head -n1 | xargs git log -n1'

#some core configurations
[core]
	autocrlf = false
	editor = vim

[push]
  default = upstream

[pull]
  rebase = true

[branch]
	autosetuprebase = always
