#user information
[user]
	name = John Murray
	email = me@johnmurray.io

#color highlighting
[color]
	ui = auto
	interactive = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

#command aliases
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
  su = submodule update
  alias = "config --get-regexp 'alias.*'"
  lol = log --pretty=oneline --abbrev-commit --graph --decorate

#some core configurations
[core]
	autocrlf = false
	editor = vim
