##----
## Contains configuration for xterm sessions. Mostly just the way it looks,
## the fonts, colors, etc.
##----
xterm*font: -*-fixed-medium-r-*-*-16-*-*-*-*-*-iso8859-*
xterm*font1: -*-*-*-*-*-*-2-*-*-*-*-*-*-*
xterm*font2: -misc-fixed-*-r-normal-*-8-*-*-*-*-*-iso8859-*
xterm*font3: -b&h-lucidatypewriter-bold-*-*-*-12-*-*-*-*-*-*-*
xterm*font4: -*-screen-bold-r-normal-*-16-*-*-*-*-*-iso8859-*
xterm*font5: -*-lucidatypewriter-medium-*-*-*-18-*-*-*-*-*-*-*
xterm*font6: -*-lucidatypewriter-medium-*-*-*-20-*-*-*-*-*-*-*
xterm*font7: -dec-terminal-bold-r-normal-*-14-*-*-*-*-*-iso8859-*


XTerm*background: gray8
XTerm*foreground: gray93
XTerm*pointerColor: red
XTerm*pointerColorBackground: black
XTerm*cursorColor: cyan4
XTerm*internalBorder: 3
XTerm*loginShell: true
XTerm*scrollBar: false
XTerm*scrollKey: true
XTerm*saveLines: 1000
XTerm*multiClickTime: 250

# True Type settings
XTerm*faceName: Bitstream Vera Serif Mono
XTerm*faceSize: 11
